<launch>
	<node name="map_server" pkg="map_server" type="map_server" args="$(find vinter_utils)/maps/simple_int_reduced.yaml"/>
	<node name="vinter_sim" pkg="vinter_sim" type="vinter_sim" args="$(find vinter_utils)/world/simple_intersection_reduced.world"/>
	
	<include file="$(find vinter_utils)/launch/costmap_params.xml" ns="costmap_node/costmap" />	
	
	<node name="simple_intersection_reduced" type="simple_intersection_reduced.py" pkg="vinter_control"/>
	
	<node name="costmap_node" type="costmap_2d_node" pkg="costmap_2d"/>
	<!--<node name="rviz" pkg="rviz" type="rviz"/>-->
</launch>
