<launch>
	<param name="use_sim_time" value="true"/>
	
	<node name="map_server" pkg="map_server" type="map_server" args="$(find vinter_utils)/maps/simple_int_reduced.yaml">
		<remap from="/map" to="/intersection/map" />
		<remap from="/map_metadata" to="/intersection/map_metadata" />
	</node>
	<node name="vinter_sim" pkg="vinter_sim" type="vinter_sim" args="$(find vinter_utils)/world/simple_intersection_reduced.world"/>
	
	<include file="$(find vinter_utils)/launch/costmap_params.xml" ns="costmap_node/costmap" />	
	
	<!--node name="simple_intersection_reduced" type="simple_intersection_reduced.py" pkg="vinter_control"/-->
	<node name="laser_array_controller" type="laser_array_controller.py" pkg="vinter_control"/>
	
	<node name="costmap_node" type="costmap_2d_node" pkg="costmap_2d">
		<remap from="/map" to="/intersection/map"/>
	</node>
	
	<!-- BEGIN CAR0 -->
	<group ns="car_0">
		<node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen">
	      <param name="odom_frame_id" value="car_0/odom" />
	      <param name="base_frame_id" value="car_0/base_link" />
	    </node>
	</group>
	<!-- END CAR0 -->
	<!--<node name="rviz" pkg="rviz" type="rviz"/>-->
</launch>
